<p>Hey There!</p>
<p>
    Congrats!  <b>A comment has been added on your Nomster post</b>.
    <%= link_to 'Check it out', place_url(@place)%> and comment back. 
</p>

Take it easy,<br />
Nomster Team